#homepage{
    display:block;
    background-color: #1B56FD;
    height:1000px;
    width:100%;
}
#about{
    display: block;
    background-color: #E9DFC3;
    height:1000px;
    width:100%;
}
.categories{
    display:inline-block;
}
#give{
    display:block;
   
    width:40%;
    height:900px;
    padding:10px;
    font-size: 50px;
    margin:10px;
    border-radius:10%;
    text-align: center;
    font-family: "Caveat";
}
#take{
    display:block;
    font-size: 50px;
    background-color: #AFDDFF;
    width:40%;
    height:900px;
    padding:10px;
    margin:10px;
    border-radius:10%;
    text-align: center;
    font-family: "Caveat";
}
#mainpage{
    display:flex;
    background-color: #1B56FD;
    height:1000px;
    width:100%;
    align-items: center;
    justify-content: center;
    
}
.quote{
    padding-top: 250px;
    text-align: center;
    color:white ;
    line-height: 100px;
    font-style: oblique;
    font-size: 70px;
    font-weight: bold;
}

#navbar{
    color: black;
background-color: #1B56FD;
background-color:#1B56FDs;}


.about{
    color: black;
    text-align: left;
    /* font-style: oblique; */
    font-size: 70px;
    padding-top: 140px;
    padding-left: 140px;

}
.aboutimage{
    width: 43%;
    height: 93%;
    float: left;
    margin-right: 20px;
    border-radius: 20px;
}
.aboutblock{
    /* border: solid; */
    height: 450px;
    padding: 20px;
    padding-top: 40px;
    /* background-color: white; */
}
.aboutpara{
    line-height: 50px;
    font-size: 200%;
    font-weight: bold
}
.homeimg{
    width: 20%; border-radius: 10px;

}
.homepageimagess{
    border: solid;
    margin:100px;
    margin-top:100px;
  margin-left: 500px;
    /* margin-top:200px; */
    /* padding: 40px; */
    padding-left: 150px;
    padding-top: 0px;
    padding-right: 150px;
    background-image: url(https://static.vecteezy.com/system/resources/previews/012/243/160/original/open-book-icon-cartoon-png.png);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;

    height: 600px;
    width: 600px;

}
.homeimg2{
    width: 20%;
    margin-left: 250px;
    border-radius: 10px;

}