#homepage{
    display:block;
    background-color: #1B56FD;
    height:1000px;
    width:100%;
}
#about{
    display: block;
    background-color: #E9DFC3;
    height:1000px;
    width:100%;
}

#give{
    display:block;
    background-color: #AFDDFF;
    width:40%;
    height:900px;
    padding:10px;
    font-size: 50px;
    margin:10px;
    
}
#take{
    display:block;
    font-size: 50px;
    background-color: #AFDDFF;
    width:40%;
    height:900px;
    padding:10px;
    margin:10px;
}
#mainpage{
    display:flex;
    background-color: #1B56FD;
    height:1000px;
    width:100%;
    align-items: center;
    justify-content: center;
    
}
.quote{
    padding-top: 500px;
    text-align: center;
    color:white ;
    line-height: 2px;
    font-style: oblique;
    font-size: 70px;
    font-weight: bold;
}
.about{
    color: black;
    text-align: left;
    /* font-style: oblique; */
    font-size: 70px;
    padding-top: 140px;
    padding-left: 140px;

}
.aboutimage{
    width: 43%;
    float: left;
    margin-right: 20px;
    border-radius: 20px;
}
.aboutblock{
    /* border: solid; */
    height: 450px;
    padding: 20px;
    padding-top: 40px;
    /* background-color: white; */
}
.aboutpara{
    line-height: 50px;
    font-size: 200%;
    font-weight: bold
}