#homepage{
    display:block;
    background-color: #1B56FD;
    height:800px;
    width:100%;
}
#about{
    display: block;
    background-color: #E9DFC3;
    height:1000px;
    width:100%;
}
.categories{
    display:inline-block;
}
#give{
    display:block;
   
    width:40%;
    height:900px;
    padding:10px;
    font-size: 50px;
    margin:10px;
    border-radius:10%;
    text-align: center;
    font-family: "Caveat";
}
#take{
    display:block;
    font-size: 50px;
    background-color: #AFDDFF;
    width:40%;
    height:900px;
    padding:10px;
    margin:10px;
    border-radius:10%;
    text-align: center;
    font-family: "Caveat";
}
#mainpage{
    display:flex;
    background-color: #1B56FD;
    height:1000px;
    width:100%;
    align-items: center;
    justify-content: center;
    
}
.quote{
    /* padding-top: 270px; */
    padding-bottom: 200px;
    padding-top: 80px;
    text-align: center;
    color:white ;
    line-height: 100px;
    font-style: oblique;
    font-size: 70px;
    font-weight: bold;
    margin-top: 0px;
}

#navbar{
    color: black;
background-color: #1B56FD;
background-color:#1B56FDs;}


.about{
    color: black;
    text-align: left;
    /* font-style: oblique; */
    font-size: 70px;
    padding-top: 140px;
    padding-left: 140px;

}
.aboutimage{
    width: 43%;
    height: 93%;
    float: left;
    margin-right: 20px;
    border-radius: 20px;
}
.aboutblock{
    /* border: solid; */
    height: 450px;
    padding: 20px;
    padding-top: 40px;
    /* background-color: white; */
}
.aboutpara{
    line-height: 50px;
    font-size: 200%;
    font-weight: bold
}
.homeimg{
    width: 24%;
    border-radius: 10px;
    margin-right: 40px;
    margin-left: -60px;
    margin-top: 30px;
    


}
.homepageimagess{
    /* border: solid; */
    position: relative;
    margin:0px auto 0px auto;
    margin-top:0px;
    padding-left: 150px;
    padding-top: 0px;
    padding-right: 150px;
    background-image: url(https://static.vecteezy.com/system/resources/previews/012/243/160/original/open-book-icon-cartoon-png.png);
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
padding-left: 500px;
    height: 600px; 
    padding-top: 200px;

    width: 1200px;

}
.homeimg2{
    width: 24%;
    /* padding-right: 200px; */
    border-radius: 10px;
    margin-left: 25px;
    margin-top: 30px; 
      border-color: grey;

}
